<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="nav navbar navbar-expend-lg bg-white shadow-sm">
        <div class="container">
            <a href="/posts" class="navbar-brand">
                <i class="bi bi-code"></i>Anasayfa
            </a>
            <ul class="navbar-nav ms-auto">
                @if(User.Identity!.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a href="#" class="navbar-brand">
                            @User.Identity.Name
                        </a>
                    </li>
                    
                <li class="nav-item">
                    <a asp-action="Logout" asp-controller="Users">Logout</a>
                </li>
                }
                else{

                    <li class="nav-item">
                        <a asp-action="Login" asp-controller="Users">Login</a>
                    </li>
                }
                <li class="nav-item">
                    <a asp-action="Create" asp-controller="Posts">Create</a>
                </li>
            </ul>
                
        </div>
    </nav>
    <div class="container mt-3">
        @RenderBody()
    </div>
    @RenderSection("Scripts",required: false)
</body>
</html>